
# CO3404 Distributed Systems Kong API Gateway
services:
  kong:
    image: kong:3.4
    container_name: kong-gateway
    restart: unless-stopped
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/usr/kong.yaml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout 
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr 
      - KONG_ADMIN_ERROR_LOG=/dev/stderr 
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
    volumes:
      - ./kong.yaml:/usr/kong.yaml
    ports:
      - "8000:8000" # Proxy port
      - "8001:8001" # Admin API port
    networks:
      - kong-net

networks:
  kong-net:
    driver: bridge   
